<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="clients.component.scss">
</head>
<body>

<div class="add">
  <input type="text" id="clientName" placeholder="Nazwa klienta" [(ngModel)]="clientName" name="clientName">
  <button (click)="add()">Dodaj</button>
</div>

<div class="client">sss</div>
<div class="client">sss</div>
<div class="client">sss</div>
<div class="client">sss</div>
<div class="client">sss</div>


</body>
</html>
