<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">Clocker</label>
  <ul>
    <li *ngIf="loginService.isLogged()" class="welcome"><i class="icon fas fa-user-circle"></i>{{this.loginService.getUsername()}}</li>
    <li *ngIf="loginService.isAdmin()"><a routerLink="/{{appRoutes.ADMIN}}">{{ 'adminPanel' | translate}}</a></li>
    <li *ngIf="loginService.isAdmin()"><a routerLink="/{{appRoutes.USERS}}">{{ 'users' | translate}}</a></li>
    <li *ngIf="loginService.isAdmin()"><a routerLink="/{{appRoutes.SETTINGS}}">{{ 'settings' | translate}}</a></li>
    <li *ngIf="loginService.isUser()"><a routerLink="/{{appRoutes.TIMER}}">{{ 'timer' | translate}}</a></li>
    <li *ngIf="loginService.isUser()"><a routerLink="/{{appRoutes.PROJECTS}}">{{ 'projects' | translate}}</a></li>
    <li *ngIf="loginService.isUser()"><a routerLink="/{{appRoutes.CLIENTS}}">{{ 'clients' | translate}}</a></li>
    <li *ngIf="loginService.isUser()"><a routerLink="/{{appRoutes.REPORTS}}">{{ 'reports' | translate}}</a></li>
    <li *ngIf="loginService.isLogged()" (click)="loginService.logout()"><a href="#">{{ 'logout' | translate}}</a></li>
    <li>
      <img class="flag" (click)="switchLang('PL')" src="../assets/icons/PL.png" alt="PL"/>
      <img class="flag" (click)="switchLang('EN')" src="../assets/icons/EN.png" alt="EN"/>
      <img class="flag" (click)="switchLang('DE')" src="../assets/icons/DE.png" alt="DE"/>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
