<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="projects.component.scss">
</head>
<body>

<div class="add">
  <i class="icon fas fa-project-diagram"></i>
  <input type="text" id="projectName" placeholder="{{'projectName' | translate}}" [(ngModel)]="projectName" name="projectName">
  <i class="icon far fa-building"></i>
  <select [(ngModel)]="clientId">
    <option [value]=null>---</option>
    <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
  </select>
  <button *ngIf="!projectEdit" (click)="addProject()">{{'add' | translate}}</button>
  <button *ngIf="projectEdit" (click)="saveProject()">{{'save' | translate}}</button>
</div>

<div class="project" *ngFor="let project of projects">
  <i class="icon fas fa-project-diagram"></i>
  {{project.name}}
  <i *ngIf="project.client" class="icon far fa-building"></i>
  {{project.clientName}}
  <div class="panel">
    <i (click)="editProject(project)" class="fas fa-edit"></i>
    <i (click)="removeProject(project)" class="fa fa-trash" aria-hidden="true"></i>
  </div>

</div>

</body>
</html>
