body{

}
.add{
  width: 97vw;
  height: 10vh;
  background-color: #706993;
  position: relative;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 2vh;
  margin-bottom: 2vh;
}
.project{
  width: 97vw;
  height: 10vh;
  background-color: #70A0AF;
  position: relative;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 2vh;
  margin-bottom: 1vh;
}
input{
  width: 30vw;
  height: 5vh;
}
select{
  width: 20vw;
  height: 5vh;
  margin-left: 0.5vw;
}
button{
  margin-left: 1vw;
  height: 5vh;
}
.panel{
  margin-left: 2vw;
  color: #331E38;
}
.icon{
  margin-left: 1vw;
  margin-right: 0.25vw;
  color: #331E38;
}
