<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">Clocker</label>
  <ul>
    <li *ngIf="loginService.isAdmin()"><a routerLink="/{{appRoutes.ADMIN}}">Użytkownicy</a></li>
    <li *ngIf="loginService.isUser()"><a routerLink="/{{appRoutes.TIMER}}">Timer</a></li>
    <li *ngIf="loginService.isUser()"><a routerLink="/{{appRoutes.PROJECTS}}">Projekty</a></li>
    <li *ngIf="loginService.isUser()"><a routerLink="/{{appRoutes.CLIENTS}}">Klienci</a></li>
    <li *ngIf="loginService.isUser()"><a routerLink="/{{appRoutes.REPORTS}}">Raporty</a></li>
    <li *ngIf="loginService.getRole() != null" (click)="loginService.logout()"><a href="#">Wyloguj</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
