<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="account.component.scss">
</head>
<body>
  <div class="hi">
    {{this.loginService.getUsername()}}
  </div>

  <div class="option">
    <a (click)="isChangePassword=true">{{ 'changePassword' | translate }}</a>
  </div>
  <div *ngIf="isChangePassword" class="value">
    <input [type]="hideOldPassword ? 'password' : 'text'" placeholder="{{ 'oldPassword' | translate}}" [(ngModel)]="oldPassword">
    <i *ngIf="!hideOldPassword" (click)="hideOldPassword=!hideOldPassword" class="far fa-eye"></i>
    <i *ngIf="hideOldPassword" (click)="hideOldPassword=!hideOldPassword" class="far fa-eye-slash"></i>
    <br>
    <input [type]="hideNewPassword ? 'password' : 'text'" placeholder="{{ 'newPassword' | translate}}" [(ngModel)]="newPassword">
    <i *ngIf="!hideNewPassword" (click)="hideNewPassword=!hideNewPassword" class="far fa-eye"></i>
    <i *ngIf="hideNewPassword" (click)="hideNewPassword=!hideNewPassword" class="far fa-eye-slash"></i>
    <br>
    <button (click)="changePassword()">{{ 'save' | translate}}</button>
    <button (click)="cancelChangePassword()">{{ 'cancel' | translate}}</button>
  </div>

  <div class="option">
    <a (click)="isDeleteAccount=true">{{ 'deleteAccount' | translate }}</a>
  </div>
  <div *ngIf="isDeleteAccount" class="value">
    <button (click)="deleteAccount()">{{ 'confirm' | translate}}</button>
    <button (click)="cancelDeleteAccount()">{{ 'cancel' | translate}}</button>
  </div>

</body>
</html>
