@import "src/assets/constants/Colors";

body{
  padding: 2vh 2vw;
}

.option{
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 30vw;
  height: 7.5vh;
  background-color: $BLUE;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 2vh;
  margin-bottom: 1vh;
  color: $PURPLE;
  font-size: 3vh;
  //font-weight: bold;
  text-transform: uppercase;
}

a.active,a:hover{
  background: $OAPL;
  transition: .5s;
}

@media (max-width: 500px){

  .option{
    width: 75%;
  }

}
