@import "src/assets/constants/Colors";

label{
  padding: 2px;
  float: left;
}

.timer{
  width: 97vw;
  height: 10vh;
  background-color: $GRAY;
  position: relative;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 2vh;
  margin-bottom: 2vh;
}
.entry{
  width: 97vw;
  height: 10vh;
  background-color: $BLUE;
  position: relative;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 2vh;
  margin-bottom: 1vh;
}
input{
  width: 20vw;
  height: 5vh;
}
select{
  width: 17.5vw;
  height: 5vh;
  margin-left: 0.5vw;
}
button{
  margin-left: 1vw;
  height: 5vh;
}
button.startButton{
  background-color: lightgreen;
  width: auto;
  height: auto;
  border: solid 5px lightgreen;
  border-radius: 5px;
  font-size: 15px;
}
button.stopButton{
  background-color: indianred;
  width: auto;
  height: auto;
  border: solid 5px indianred;
  border-radius: 5px;
  font-size: 15px;
}
.panel{
  margin-left: 2vw;
  color: $PURPLE;
}
.icon{
  margin-left: 15px;
  margin-right: 5px;
  color: $PURPLE;
}
.timeSpent{
  color: $PURPLE;
  font-weight: bolder;
  font-size: 25px;
  margin-right: 15px;
}


@media (max-width: 1000px){
  .entry{
    display: block;
    width: auto;
    height: auto;
    background-color: $BLUE;
    padding: 15px;
    text-align: center;
    justify-content:center;
    align-items:center;
  }
  .timer{
    display: block;
    width: auto;
    height: auto;
    background-color: $GRAY;
    padding: 15px;
    text-align: center;
    justify-content:center;
    align-items:center;
  }
  .field{
    display: block;
    margin-bottom: 1vh;
  }
  .csv{
    width: auto;
    height: auto;
    padding: 1vh 1vw;
  }
  .icon{
    display: inline;
  }
  select{
    width: 75%;
  }
  input{
    width: 75%;
  }

}
