@import "src/assets/constans/Colors";

.user{
  width:90%;
  min-height:20px;
  margin-top: 10px;
  margin-left: 5%;
  background: $GRAY;
  clear: both;
  padding: 10px;
}

.content{
  display: inline-block;
}

.name{
  float:left;
  margin-left: 10px;
}

.type{
  float:right;
  margin-right: 10px;
}

.newUser{
  width:98%;
  padding: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  background: $PURPLE;
}

input, button, select{
  height:35px;
  float:left;
  margin-left: 1%;
  width: 20%;
}

.addUserButton{
  width:90%;
  float: left;
  margin-left: 5%;
  border-radius: 3px;
  height:40px;
  font-size: 30px;
  text-align: center;
  background: $PURPLE;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $OAPL;
  display: none;
}

button{
  width: 10%;
  height:35px;
  float:right;
}

.anuluj{
  display: none;
}

@media (max-width: 1020px){
  .addUserButton{
    display: block;
  }

  input, select{
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
  }

  button{
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
  }

  .anuluj{
    display: block;
  }

}
