
<div class="addUserButton" *ngIf="!show" (click)="toMax()">Nowy użytkownik</div>

<div class="newUser" id="newUser" *ngIf="show">
  <form>
    <input type="email">
    <input type="password">
    <input type="password">
    <select>
      <option value="Admin">Admin</option>
      <option value="User" selected>User</option>
    </select>
    <button type="reset" class="anuluj" style="margin-top: 4%" (click)="toMin()"> Anuluj </button>
    <button type="submit"> Dodaj </button>
  </form>
</div>

  <div class="user" *ngFor="let user of users">
    <div class="content name">{{user.username}}</div>
    <div class="content type" *ngIf="user.role == 'USER' || user.role == 'USERADMIN'">User</div>
    <div class="content type" *ngIf="user.role == 'ADMIN' || user.role == 'USERADMIN'">Admin</div>
  </div>
