@import "src/assets/constants/Colors";

body{
  padding: 2vh 2vw;
}

.option{
  margin: 0 auto;
  padding: 10px 10px;
  position: relative;
  width: 50vw;
  height: 7.5vh;
  background-color: $BLUE;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 2vh;
  margin-bottom: 1vh;
  color: $PURPLE;
}
.label{
  font-size: 20px;
  margin-right: 1vw;
}
select{
  width: 20vw;
  height: 5vh;
}
input{
  width: 20vw;
  height: 5vh;
}
button{
  margin-left: 1vw;
  height: 5vh;
}


@media (max-width: 700px){
  .option{
    display: block;
    width: auto;
    height: auto;
    background-color: $BLUE;
    padding: 1vh 1vw;
    text-align: center;
    justify-content:center;
    align-items:center;
  }
  .field{
    display: block;
    padding: 1vh 1vw;
  }
  .label{
    font-size: 20px;
    margin-right: 1vw;
  }
  .icon{
    display: inline;
  }
  input{
    width: 75%;
    height: 3vh;
  }
  select{
    width: 75%;
    height: 3.5vh;
  }
  button{
    margin-left: 1vw;
    height: 3.5vh;
  }
}
