<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="start-page.component.scss">
</head>
<body>
  <div class="row">
    <div class="column left">
      <p>Nasi użytkownicy zarejestrowali już ...</p>
      <p>{{dayStats}} minut w dniu dzisiejszym</p>
      <p>{{weekStats}} minut w tym tygodniu</p>
      <p>{{monthStats}} minut w tym miesiącu</p>
      <p>{{yearStats}} minut w tym roku</p>
    </div>
    <div class="column right" *ngIf="!loginService.isLogged()">
      <form>
        <div *ngIf="wrongLogin">
          Zły login lub hasło!
        </div>
        <div>
          <input type="email" id="username" placeholder="name@example.com" [(ngModel)]="username" name="username">
          <label for="username">username</label>
        </div>
        <div>
          <input type="password" id="password" placeholder="password"[(ngModel)]="password" name="password">
          <label for="password">password</label>
        </div>
        <div>
          <button (click)="login()">login</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
