@import "src/assets/constants/Colors";

.entry{
  width: 97vw;
  height: 10vh;
  background-color: $BLUE;
  position: relative;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 2vh;
  margin-bottom: 1vh;
}
.query{
  width: 97vw;
  height: 10vh;
  background-color: $GRAY;
  position: relative;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 2vh;
  margin-bottom: 2vh;
}
.csv{
  width: 97vw;
  height: 7.5vh;
  background-color: $GRAY;
  position: relative;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 2vh;
  margin-bottom: 2vh;
}
.icon{
  margin-left: 1vw;
  margin-right: 0.25vw;
  color: $PURPLE;
}

@media (max-width: 1000px){
  .entry{
    display: block;
    width: auto;
    height: auto;
    background-color: $BLUE;
    padding: 1vh 1vw;
    text-align: center;
    justify-content:center;
    align-items:center;
  }
  .query{
    display: block;
    width: auto;
    height: auto;
    background-color: $GRAY;
    padding: 1vh 1vw;
    text-align: center;
    justify-content:center;
    align-items:center;
  }
  .field{
    display: block;
    margin-bottom: 1vh;
  }
  .csv{
    width: auto;
    height: auto;
    padding: 1vh 1vw;
  }
  .icon{
    display: inline;
  }
  select{
  }


}
