<div class="error" *ngIf="error">
  {{komunikat}}
  <button class="type_bad" (click)="exitError()">ok</button>
</div>

<div class="addUserButton" *ngIf="!show" (click)="toMax()">Nowy użytkownik</div>

<div class="newUser" id="newUser" *ngIf="show">

  <input type="text" name="newName" placeholder="{{ 'username' | translate}}" [(ngModel)]="newEmail">
  <!-- <input type="password"> -->
  <input type="password" name="newPassword" placeholder="{{ 'password' | translate}}" [(ngModel)]="newPassword">
  <select [(ngModel)]="newRole">
    <option [value]="role[1]" selected>User</option>
    <option [value]="role[0]">Admin</option>
    <option [value]="role[2]">User & Admin</option>
  </select>
  <button type="reset" class="anuluj" style="margin-top: 4%" (click)="toMin()"> Anuluj </button>
  <button type="submit" (click)="addUser()">{{ 'add' | translate}}</button>

</div>

<div class="user" *ngFor="let user of users">
  <div class="content name">{{user.username}}</div>
  <div class="content type type_ok"
       *ngIf="user.role == 'USER' || user.role == 'USERADMIN'"
       (click)="remove(user,'USER')">User</div>
  <div class="content type type_bad"
       *ngIf="user.role != 'USER' && user.role != 'USERADMIN'"
       (click)="add(user,'USER')">User</div>
  <div class="content type type_ok"
       *ngIf="user.role == 'ADMIN' || user.role == 'USERADMIN'"
       (click)="remove(user,'ADMIN')">Admin</div>
  <div class="content type type_bad"
       *ngIf="user.role != 'ADMIN' && user.role != 'USERADMIN'"
       (click)="add(user,'ADMIN')">Admin</div>
  <div class="content type"
       (click)="removeUser(user)">
    <i class="fa fa-trash" aria-hidden="true"></i></div>

</div>
